.success {
  background-color: rgb(123, 233, 123);
}

.errors {
  background-color: rgb(243, 137, 137);
}

.text-right {
  text-align: right !important;
}

.text-bold {
  font-weight: bold !important;
}

.float-right {
  float: right !important;
}
